{% extends 'home/pub_home.html' %}
{% block pub_thread %}
{% load widget_tweaks %}
<div id="a">
    <h2 id="com_h2">Thread</h2>
    <a href="{{request.META.HTTP_REFERER}}" id="com_a">return</a>
    <!--コメントした後に戻るボタンを押すと機能しないバグあり-->
</div>
<table class="container">
    <tr>
        <td>name:{{ thread.username }}</td>
        <td>date:{{ thread.created_datetime }}</td>
    </tr>
    <tr>
        <td colspan="2">title:{{ thread.title }}</td>
    </tr>
    <tr>
        <td colspan="2">comment{{ thread.content | linebreaks | urlize }}</td>
    </tr>
</table>
<h3>Comments</h3>
{% for comment in comments %}
<table class="container">
    <tr>
        <td>name:{{ comment.username }}</td>
        <td>date:{{ comment.created_datetime }}</td>
    </tr>
    <tr>
        <td colspan="2">comment{{ comment.comment | linebreaks | urlize }}</td>
    </tr>
</table>
{% endfor %}
<h3>New comment create</h3>
<div class="container">
<form method="post" action="{% url 'create_comment' %}">{% csrf_token %}
    <input type="hidden" value="{{ thread.id }}" name="thread_id">
    <table>
        <tr>
            <td>name:{{ user.username }}</td>
        </tr>
        <tr>
            <td>comment<br>{{ form.comment | add_class:"form_content" }}</td>
        </tr>
        <tr>
            <td><button type="submit" class="positive_button">create</button></td>
        </tr>
    </table>
</form>
</div>
{% endblock %}
