{% extends "home/pub_home.html" %}

{% block pub_thread %}
{% load widget_tweaks %}

<h2>スレッド一覧</h2>

<form action="{% url 'follow' room.id %}" method="post">
    <button type="submit" name="button">お気に入り追加</button>
    {% csrf_token %}
</form>

{% for thread in threads %}
<div class="container">
    <table>
        <tr>
            <td>{{ thread.username }}</td>
            <td>{{ thread.created_datetime }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ thread.title }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ thread.content | linebreaks | urlize }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="{% url 'display_comments' thread.id %}">read more</a></td>
        </tr>
    </table>
</div>
{% endfor %}

<form method="post" action="{% url 'create_thread' %}">{% csrf_token %}
        <input type="hidden" value="{{ room.id }}" name="room_id">

        <table>
            <tr>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <td>{{ form.content }}</td>
            </tr>
            <tr>
                <td><button type="submit" class="positive_button">create</button></td>
            </tr>
        </table>

</form>

<div>

    {% if threads.has_previous %}
        <a href="?current_page={{ threads.previous_page_number }}">Previous</a>
    {% endif %}_

    <span>
        {{ threads.number }} / {{ threads.paginator.num_pages }}
    </span>

    {% if threads.has_next %}
        <a href="?current_page={{ threads.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endblock %}