{% extends "home/pub_home.html" %}

{% block pub_thread %}
{% load widget_tweaks %}

<h2 id="thre_h2">Threads</h2>

<form action="{% url 'follow' room.id %}" method="post" id="thre_form">
    <button type="submit" name="button">like</button>
    {% csrf_token %}
</form>
<br>
<div id="space"></div>
{% for thread in threads %}
<div class="container">
    <table>
        <tr>
            <td>{{ thread.username }}</td>
            <td>{{ thread.created_datetime }}</td>
        </tr>
        <tr>
            <td colspan="2">title:{{ thread.title }}</td>
        </tr>
        <tr>
            <td colspan="2">comment{{ thread.content | linebreaks | urlize }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="{% url 'display_comments' thread.id %}" id="result">read more</a></td>
        </tr>
    </table>
</div>
{% endfor %}
<div style="text-align: center;">
    {% if threads.has_previous %}
        <a href="?current_page={{ threads.previous_page_number }}">Previous</a>
    {% endif %}_

    <span>
        {{ threads.number }} / {{ threads.paginator.num_pages }}
    </span>

    {% if threads.has_next %}
        <a href="?current_page={{ threads.next_page_number }}">Next</a>
    {% endif %}
</div>
<br>
<h3>New thread create</h3>
<div id="new_thre">
    <form method="post" action="{% url 'create_thread' %}" class="container">{% csrf_token %}
            <input type="hidden" value="{{ room.id }}" name="room_id">
            
            <table>
                <tr>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>title:{{ form.title }}</td>
                </tr>
                <tr>
                    <td>comment<br>{{ form.content }}</td>
                </tr>
                <tr>
                    <td><button type="submit" class="positive_button">create</button></td>
                </tr>
            </table>
    </form>
</div>
{% endblock %}