<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Pub home</title>
    </head>
    <body>
        <h1>Public Home</h1>
        {% if user.is_authenticated %}
        <p>Hi {{ user.username}}! u r logged in.</p>
        <a href="{% url 'logout' %}">logout</a><br>
        {% else %}
        <p>u r not logged in.</p>
        <p><a href="{% url 'login' %}">login</a></p>
        {% endif %}
        <a href="{% url 'pub_home' %}">public home</a>
        <a href="{% url 'priv_home' %}">private home</a>
        <a href="{% url 'search' %}">room search</a>
        <br>
        <a href="{% url 'create_room' %}">create room</a>
        <br>

        {% for thread in threads %}
        <div>
            <table>
                <tr>
                    <td>{{ thread.username }}</td>
                    <td>{{ thread.created_datetime }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ thread.title }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ thread.content | linebreaks | urlize }}</td>
                </tr>
                <tr>
                    <td>{{ form }}</td>
                </tr>
                <!--
                <tr>
                    <td colspan="2"><a href="{% url 'home:display_comments' thread.id %}">open thread</a></td>
                </tr>
                -->
            </table>
        </div>
        {% endfor %}
    </body>
</html>