<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Search home</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/serach1.css">
    </head>
    <body>
        <header>
            <h1 id="header_h1">Search home</h1>
            {% if user.is_authenticated %}
            <!--<p>Hi {{ user.username}}! you are logged in.</p>-->
            <a href="{% url 'logout' %}" class="login_info">{{ user.username}}/logout</a>
            {% else %}
            <!--<p>u r not logged in.</p>-->
            <a href="{% url 'login' %}" class="login_info">guest/login</a>
            {% endif %}<br>
            <ul class="ul-header">
                <a href="{% url 'pub_home' %}" class="ul1">public home</a>
                <a href="{% url 'priv_home' %}" class="ul1">private home</a>
                <a href="{% url 'search' %}" class="ul1">room search</a>
                <a href="{% url 'create_room_page' %}" class="ul1">create room</a>
            </ul>
        </header>
        <main>
            <h2>検索ページ</h2>
            <div id="serach">
                <form method="GET" action="{% url 'search' %}">
                    <input type="text" name="keyword">
                    <button type="submit">検索</button>
                </form>
            </div>
            <h1 id="main_h1" style="padding-top: 200px;">room一覧</h1>
            <div>
                {% block search %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>