<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Search home</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/search.css">
    </head>
    <body>
        <h1>Search Home</h1>
        <p>Hi {{ user.username}}! u r logged in.</p>
        <a href="{% url 'logout' %}">logout</a>
        <br>
        <a href="{% url 'pub_home' %}">public home</a>
        <a href="{% url 'priv_home' %}">private home</a>
        <a href="{% url 'search' %}">room search</a>
        <br>
        <a href="{% url 'create_room' %}">create room</a>

        <form method="GET" action="{% url 'search' %}">
            <input type="text" name="keyword">
            <button type="submit">検索</button>
        </form>
        <div>
            {% block search %}
            {% endblock %}
        </div>
    </body>
</html>