body{
    background-color: #ffe6b4;
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-top: 7px solid orange;
    box-shadow: 0 0 8px grey;
    box-sizing: border-box;
    background-color: #ffffff;
}